body{
  position: relative;
}


div {
  display: block;

}

@media screen and (min-width: 480px) {
  header img{
    width: 100%;
    display: block;
  }

  body {
    background: blue;
  }
}

@media screen and (min-width: 767px) {
  body {
    background: gray;
  }

  .middle h5 {
  text-align: center;
  padding: 0% 25% 0% 25%;

  }

  .middle p {
  text-align: center;
  padding: 0% 10% 0% 10%;

  }
  
}

@media screen and (min-width: 950px) {
  body {
    background: brown;
  }

   .column {
    display: block;
    width: 28%;
    margin: 2%;

   }

   .right img {
  display: block;
  width: 35%;
  margin: 2%;


  
  }
  
}