body{
	margin: 0px;
	background-image: url('img/dark_wall.png');
}

header img{
	width: 100%;
	display: block;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h3 {
  font-family: quatro-slab, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 3px;
  color: #C27234;
  margin-top: 30px;
  margin-bottom: 0px;
}

.centered h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  letter-spacing: 10px;
  color: #C27234;
  margin-top: 0px;

}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #C27234;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: #C27234;
}

a:active {
	color: red;
}


* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0%;
}

.left, .right {
	width: 20%;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color: white;
}

.right img {
	display: block;
	padding: 0% 0% 0% 0%;
  width: 35%;
}

#uno {
  display: block;
  align-content: center;
  padding: 18% 0% 0% 0%;

}

#dos {
  display: block;
  padding: 40% 0% 0% 0%;
}

#tres {
  display: block;
  padding: 60% 0% 0% 0%;
}

#cuatro {
  display: block;
  padding: 45% 0% 0% 0%;
}

#cinco {
  display: block;
  padding: 55% 0% 0% 0%;
}

#seis {
  display: block;
  padding: 85% 0% 0% 0%;
}

#siete {
  display: block;
  padding: 58% 0% 0% 0%;
}

#ocho {
  display: block;
  padding: 55% 0% 0% 0%;
}

.middle {
  width: 60%;
  text-align: center;
}

.row {
  display: block;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.middle h3{
font-family: quatro-slab, serif;
font-weight: 700;
font-style: normal;
font-size: 36px;
color: #C27234;
}

.middle h5 {
font-family: 'Nunito', sans-serif;
font-weight: 300;
color: white;
padding:0% 35% 0% 35%;	

}

.middle p{
font-family: 'Nunito', sans-serif;
font-weight: 300;
color: white;
padding:0% 20% 0% 20%;

}

.middle img {
	width: 25%;
}

.middle hr{
	 background-color: #C27234; 
	 height: 1px; 
	 border: 0;
	 width: 50%;
}

#space {
margin-bottom: 10%;
}

ul.navbar{
	list-style-type: circle;
	height:0px;
	color:white;
}

ul.navbar li {
	padding: 10px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10%; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: inline;
  float: left;
}

.main {
	margin-left: 160px; /* Same as the width of the sidenav */
}


footer {
	display: block;
}